.HC__statscomp {
  flex: 1;

  padding-top: 81.25%;
  border-radius: 50%;
  margin: 28px;
}

.HC__statscomp:not(:last-child) {
  margin-right: 15px;
}

.HC__stats--selected {
  border-top: 10px solid greenyellow;
}

.HC__stats--red {
  border-color: red;
}

.infoBox__cases--green {
  color: lightgreen !important;
}

.HC__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.HC__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
