.HC__vaccinetable {
  margin-top: 20px;
  height: 400px;
  color: #6a5d5d;
}

.HC__vaccinetable tr:nth-of-type(even) {
  background-color: #f3f2f8;
}

.HC__vaccinetable tr {
  display: flex;
  justify-content: space-between;
}

.HC__vaccinetable td {
  padding: 0.5rem;
}
.HC__VcOne {
  justify-content: space-around;
}

.HC_first_tr {
  margin-left: 2px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: 500;
}
